@font-face {
  font-family: 'icomoon';
  src:  url('icons-font/icomoon.eot?s64qez');
  src:  url('icons-font/icomoon.eot?s64qez#iefix') format('embedded-opentype'),
    url('icons-font/icomoon.ttf?s64qez') format('truetype'),
    url('icons-font/icomoon.woff?s64qez') format('woff'),
    url('icons-font/icomoon.svg?s64qez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 20px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 20px;
  height: 20px;
}
.icon-cv:before {
  content: "\e900";
  color: #fff;
}
.icon-octopus:before {
  content: "\e901";
  color: #fff;
}
.icon-phone:before {
  content: "\e902";
  color: #fff;
}
.icon-plane:before {
  content: "\e903";
  color: #fff;
}
